/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lora&family=Montserrat:wght@200;300;400;700&display=swap");

/* ANIMATIONS */
@keyframes typing {
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -105px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .wrapper ul li {
        animation: none !important;
    }
    .wrapper ul li:after {
        animation: none !important;
    }
}

/* FLIP CARD ANIMATION */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/* HAMBURGER ACTIVE STATE */
.hamburger.active {
    background-color: transparent !important;
}
.hamburger.active::before {
    transform: rotate(45deg) !important;
    top: 0 !important;
}
.hamburger.active::after {
    transform: rotate(-45deg) !important;
    bottom: 0 !important;
}

/* NAV MENU ACTIVE STATE */
#navMenu.active {
    left: 0 !important;
}

#hero-image {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 100%);
}