/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ANIMATIONS */
@keyframes typing {
    40%,
    60% {
        left: calc(100%);
    }
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -105px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .wrapper ul li {
        animation: none !important;
    }
    .wrapper ul li:after {
        animation: none !important;
    }
}

/* FLIP CARD ANIMATION */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/* HAMBURGER ACTIVE STATE */
.hamburger.active {
    background-color: transparent !important;
}
.hamburger.active::before {
    transform: rotate(45deg) !important;
    top: 0 !important;
}
.hamburger.active::after {
    transform: rotate(-45deg) !important;
    bottom: 0 !important;
}

/* NAV MENU ACTIVE STATE */
#navMenu.active {
    left: 0 !important;
}

#hero-image {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 60%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 60%,
        transparent 100%
    );
}

#home {
    background: #e3f4f4;
    background: linear-gradient(
        180deg,
        rgba(227, 244, 244, 1) 75%,
        rgba(248, 246, 244, 1) 100%
    );
}

#contact {
    background: #f8f6f4;
    background: linear-gradient(
        180deg,
        #f8f6f4 0%,
        rgba(210, 233, 233, 1) 25%
    );
}
